@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  background-image: linear-gradient(236deg, #31125e, #0b1930);
}
body {
  overflow-x: hidden;
}
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -23px;
  vertical-align: bottom;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#navbar a {
  display: inline-block;
  font-family: Inter;
  font-weight: 500;
  color: #fff;
  padding: 10px;
  margin-right: 75px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.6;
}
#navbar a:last-child {
  margin-right: 0 !important;
}
#login {
  z-index: 999999;
  position: absolute;
  top: 36px;
  right: 13%;
  font-family: Inter;
  font-weight: 500;
  border: none;
  margin: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  transition: all 0.5s;
  background-color: #40bb60;
  text-decoration: none;
}

#login:hover {
  background-color: #38864d;
  color: #aaacbc;
}
#login svg {
  margin-bottom: -4px;
  width: 17px;
  margin-right: 2px;
}

.green-bg {
  background: green;
}
.red-bg {
  background: red;
}
#logo {
  display: inline-block;
  margin-left: 13%;
  margin-top: 36px;
  vertical-align: bottom;
  cursor: pointer;
  font-family: Inter;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}
#features {
  position: absolute;
  top: 500px;
}

.shards {
  display: grid;
  grid-column-gap: 1rem;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
  grid-row-gap: 0.5rem;
  row-gap: 0.5rem;
  transition-timing-function: ease-in;
  transition: transform 0.4s;
}

.shards:hover {
  transition-timing-function: ease-in;
  transform: scale(1.01);
}

@media (min-width: 1080px) {
  .shards {
    grid-template-columns: repeat(3, 1fr);
  }
}
.server {
  display: flex;
  flex: 1 1 0%;
  height: 60px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1em;
  border-radius: 5px;
  transition: border 180ms ease-out 0s, background 180ms ease-out 0s;
  margin-bottom: 5px;
}

.server:hover {
  background-color: #424c6d;
}

.center-div p {
  color: rgb(209, 207, 207);
  font-family: Inter;
}
button {
  cursor: pointer;
}
.wrap-input {
  width: 100%;
  position: relative;
  margin-bottom: 65px;
  padding-bottom: 13px;
}

@media (max-width: 850px) {
  .dropdown-content {
    right: 129px !important;
  }
}

@media (max-width: 1024px) {
  .contact-div {
    padding-left: 40% !important;
    padding-right: 40% !important;
  }
}
#lg {
  padding-left: 70%;
  padding-right: 10%;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 99999;
}
li {
  list-style: none;
}

#login-hamburger {
  display: none;
  font-family: Inter;
  font-weight: 500;
  border: none;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  transition: all 0.5s;
  background-color: #40bb60;
  text-decoration: none;
}
#login-hamburger:hover {
  background-color: #38864d;
  color: #aaacbc;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

@media only screen and (max-width: 768px) {
  #navbar {
    display: none;
  }
  .nav-menu {
    z-index: 99999999999999999;
    align-items: stretch;
    position: fixed;
    left: 102%;
    top: 7rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    margin-left: 35%;
    width: 80%;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    text-align: center;
    margin-left: 3rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
  }

  .nav-item #user {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    transition: all 0.5s;
    background-color: #40bb60;
    text-decoration: none;
  }
  .nav-item #user:hover {
    background-color: #38864d;
    color: #aaacbc;
  }

  #login-hamburger {
    display: block;
    cursor: pointer;
  }
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.user-dropdown {
  cursor: pointer;
  overflow: hidden;
}

.dropdown-content {
  min-width: 160px;
  z-index: 1;
  background-color: #fff;
  min-width: 160px;
  box-shadow: rgb(0 0 0) 0px 1px 3px;
  border-radius: 4px;
  position: absolute;
  transition: 0.5s ease;
  padding: 5px 0;
  right: 0;
  cursor: pointer;
  display: none;
}

.dropdown-content a {
  display: block;
  color: rgb(0, 0, 0);
  font-size: 15px;
  margin: 4px;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #4a4c5c29;
}

.user-dropdown:hover .dropdown-content {
  display: block;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
.contact-div {
  width: 1170px;
  padding-left: 20%;
  padding-right: 20%;
}

.contact-input {
  padding-top: 9px;
  margin-top: 10px;
  min-height: 110px;
  border-radius: 5px;
  padding-bottom: 13px;
  width: 100%;
  color: #fff;
  display: block;
  font-size: 18px;
  background: 0 0;
  line-height: 1.2;
  font-weight: 500;
  border: none;
  outline: none;
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
}
.input-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.input-line::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.4s;
  background: linear-gradient(90deg, #5a5460, #4f4c62);
}

.center-div {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  max-width: 800px;
  padding: 20px 0px;
  margin: auto;
  margin-top: 60px;
}
.servers {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  padding: 0px 0.5em;
  align-self: stretch;
}

.icon-and-name {
  display: flex !important;
  flex-flow: row wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-left: -20px;
  cursor: pointer;
}
.server-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 20px;
}

.guild-name {
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 0px 1em;
  font-weight: bold;
}
.button {
  font-family: 'Poppins', sans-serif;
  white-space: nowrap;
  user-select: none;
  line-height: 1;
  font-weight: 400;
  display: flex;
  border-radius: 3px;
  font-size: 13px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px 25px;
  transition: border 180ms ease-out 0s, background 180ms ease-out 0s;
  color: #fff;
  background-color: #597aaf;
  border: none;
  cursor: pointer;
  min-height: 32px;
  min-width: 60px;
  margin-bottom: 5px;
}

.button:hover {
  opacity: 0.8;
}

.edit {
  background: rgb(68, 179, 127);
}

.edit:hover {
  background-color: rgb(47, 124, 88);
}

.noscript {
  background: #f44336;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-align: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  user-select: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
}

#status {
  font-family: 'Poppins', sans-serif;
}
.status {
  font-family: 'Poppins', sans-serif;
  display: block;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 9%;
  font-weight: 900;
  margin-bottom: 30px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  color: #fff;
  border: 2px solid #6f00ff;
  background-color: #6f00ff;
  animation: upDown 2s ease infinite;
  -webkit-box-shadow: 0 14px 10px rgba(0, 0, 0, 0.05),
    0 1px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 14px 10px rgba(0, 0, 0, 0.05),
    0 1px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 14px 10px rgba(0, 0, 0, 0.05), 0 1px 10px rgba(0, 0, 0, 0.05);
  transition: 0.5s ease-in-out;
  padding: 3%;
}

.status .N {
  font-size: 30px;
  display: block;
  font-weight: bold;
}

.status .N::after {
  animation: switch 2s ease infinite;
  font-size: 25px;
}

.status:hover {
  transition: 0.5s ease;
  filter: brightness(1.15);
}

@media screen and (max-width: 700px) {
  .status {
    width: 80%;
  }

  #shard {
    width: 50%;
  }

  .status .N::after {
    font-size: 20px;
  }
}

h1 {
  font-family: Inter;
  font-size: 60px;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
  text-align: center;
  font-weight: 900;
  margin-bottom: 30px;
}
.loading-screen {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(236deg, #31125e, #0b1930);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  text-align: center;
  perspective: 1600px;
  perspective-origin: 20% 50%;
  transition: 0.5s all;
  opacity: 1;
}

.loading-screen fade {
  opacity: 0;
}

.lds-ring {
  position: fixed;
  left: 0;
  top: 40%;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h2 {
  font-family: Inter;
  font-size: 20px;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;
  color: #82828a;
  font-weight: 500;
}
.shine {
  -moz-background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #02b780),
    color-stop(0.35, #02b780),
    color-stop(0.5, #b850f8),
    color-stop(0.65, #02b780),
    color-stop(1, #02b780)
  );
  background-size: 600% 600%;
  -webkit-animation: Shine 7s ease infinite;
  -moz-animation: Shine 7s ease infinite;
  animation: Shine 7s ease infinite;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes Shine {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@-moz-keyframes Shine {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes Shine {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.buttonDiv {
  font-family: Inter;
  text-align: center;
}
.homeButton {
  border: none;
  margin: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 5px;
  display: inline-block;
  background-color: var(--secondary-color);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  background-color: #40bb60;
}

.homeButton i {
  top: 3px;
  font-size: 125%;
  margin: 0 6px 0 0;
  position: relative;
}

.homeButton:hover {
  opacity: 0.7;
}

h3 {
  color: #fff;
  font-family: Inter;
  font-weight: 700;
  margin-top: 80px;
  font-size: 50px;
  margin-bottom: 0;
  transition: all 0.5s cubic-bezier(0.05, 0.03, 0.35, 1);
}

#features-div {
  margin-top: 12%;
}
.section img {
  width: 50px;
}
h5 {
  font-family: Inter;
  color: #fff;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: green;
}
h6 {
  font-family: Inter;
  color: #82828a;
  font-size: 16px;
  font-weight: 400;
  width: 330px;
  line-height: 30px;
  margin-bottom: 0;
  margin-top: 15px;
}
#section-bottom,
#section-top {
  display: table;
  border-spacing: 10vw 20px;
  margin-left: auto;
  margin-right: auto;
}
#section2,
#section3,
#section4,
#section7,
#section8,
#section5 {
  display: table-cell;
}
#section6 {
  margin-top: 50px;
}
h7 {
  color: #fff;
  font-family: Inter;
  margin-top: 30px;
  font-size: 50px;
  text-align: center;
  display: block;
  font-weight: 900;
}
h8 {
  color: #82828a;
  font-size: 16px;
  font-weight: 400;
  font-family: Inter;
  margin-top: 20px;
  line-height: 35px;
  text-align: center;
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
hr {
  border: 0;
  outline: 0;
  height: 1px;
  background: #ffffff;
  margin-bottom: 30px;
}
#footer {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
}
#left-footer {
  color: #ffffff;
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  display: inline-block;
}
#left-footer img {
  margin-bottom: -4px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
#right-footer {
  color: #82828a;
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  margin-top: 3px;
  float: right !important;
}
#right-footer a {
  text-decoration: none;
  color: #82828a;
  margin-right: 25px;
}

#right-footer a:hover {
  color: #ffffff;
}

#right-footer a:last-child {
  margin-right: 0;
}
#footer a:hover,
#navbar a:hover {
  opacity: 1;
}
@media screen and (max-width: 1190px) {
  #logo {
    margin-left: 50px;
  }
  #login {
    right: 50px;
  }

  #features-div {
    margin-top: 4%;
  }
}
@media screen and (max-width: 1000px) {
  #features-div {
    margin-top: 4%;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 18px;
  }

  #navbar a {
    font-size: 14px;
  }
  #login {
    font-size: 14px;
  }
  h3 {
    margin-top: 60px;
    font-size: 40px;
  }
  h4 {
    font-size: 14px;
    width: 400px;
  }
  h5 {
    font-size: 22px;
  }
  h6 {
    font-size: 14px;
    width: 250px;
  }
  h7 {
    font-size: 40px;
  }
  h8 {
    font-size: 16px;
  }
  #left-footer {
    font-size: 14px !important;
  }
  #right-footer {
    font-size: 14px !important;
  }
  #footer {
    width: 95%;
  }
}
@media screen and (max-width: 870px) {
  #features-div {
    margin-top: 100px;
  }
  #section1 {
    display: none;
  }
}
@media screen and (max-width: 820px) {
  #login {
    display: none;
  }
  #navbar {
    margin-right: 50px;
    left: unset !important;
  }
  #navbar a {
    margin-right: 50px;
  }
}
@media screen and (max-width: 762px) {
  #left-footer {
    display: block !important;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  #right-footer {
    display: block !important;
    float: none !important;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
  #footer {
    width: 85%;
  }
}
@media screen and (max-width: 730px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 16px;
  }
  #section-bottom,
  #section-top {
    border-spacing: 5vw 20px;
  }
}
@media screen and (max-width: 600px) {
  h5 {
    font-size: 18px;
  }
  h6 {
    width: 200px;
  }
}
@media screen and (max-width: 525px) {
  h2 {
    font-size: 18px;
    width: 75%;
    font-weight: 400;
    line-height: 35px;
  }
  h1 {
    width: 85%;
  }
  #navbar a {
    margin-right: 30px;
  }
  #navbar {
    margin-right: 30px;
  }
  #logo {
    margin-left: 30px;
  }
}
@media screen and (max-width: 500px) {
  .section {
    display: block !important;
    margin-left: 5%;
  }
  #features-div {
    margin-top: 75px;
    padding-left: 5%;
  }
  #section-bottom,
  #section-top {
    border-spacing: 0 60px;
  }
  #section-bottom {
    margin-top: -100px;
  }
  h5 {
    font-size: 25px;
  }
  h6 {
    font-size: 14px;
    width: 90%;
  }
  #right-footer a {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 0;
  }
}

@media screen and (max-width: 400px) {
  h2 {
    width: 90%;
    line-height: 30px;
  }
  h8 {
    font-size: 14px;
    width: 85%;
  }
}
@media screen and (max-width: 360px) {
  #navbar {
    display: none;
  }
  #logo {
    margin: auto;
    text-align: center;
    margin-top: 20px;
    display: block;
  }
  h1 {
    margin-top: 50px;
    font-size: 35px;
  }
  h7 {
    font-size: 35px;
  }
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #222;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #2b2b2b;
  height: 16px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #363636;
}

::-webkit-scrollbar-thumb:active {
  background-color: #454545;
}