<html lang="en">
  <head>
    <meta name="theme-color" content="#36393f" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="icon" type="image/png" href="/logo.png" />
    <title>Bottodir • Error</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <meta name="title" content="Bottodir • Page not Found" />

    <meta property="og:image" content="<%=domain%>/logo.png" />
    <meta
      property="og:title"
      content="Bottodir • Utility Discord"
    />
    <meta
      property="og:description"
      content="Utility Discord with ease"
    />
    <link rel="stylesheet" href="/css/404/404.css" />
  </head>
  <body>
    <div class="box">
      <span class="N">Our System encountered An Error</span>
      <br />
      <span>Please try again later.</span>
    </div>
  </body>
</html>