body {
    overflow-x: hidden;
    background-image: linear-gradient(236deg, #31125e, #0b1930);
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    font-family: Inter;
    animation: Appeare 2s ease;
    background-repeat: no-repeat;
    background-position-x: center;
  }
  
  .box {
    text-align: center;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #5050ff;
    background-color: #5050ff;
    padding: 3%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    animation: upDown 2s ease infinite;
    -webkit-box-shadow: 0 14px 10px rgba(0, 0, 0, 0.05),
      0 1px 10px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 14px 10px rgba(0, 0, 0, 0.05),
      0 1px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.05), 0 1px 10px rgba(0, 0, 0, 0.05);
    transition: 0.5s ease-in-out;
  }
  
  .box .N {
    font-size: 30px;
    display: block;
    font-weight: bold;
  }
  
  .box .N::after {
    animation: switch 2s ease infinite;
    font-size: 25px;
  }
  
  .box:hover {
    transition: 0.5s ease;
    filter: brightness(1.15);
  }
  
  @media screen and (max-width: 700px) {
    .box {
      width: 100%;
    }
  
    .box .N::after {
      font-size: 20px;
    }
  }
  
  .button {
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    user-select: none;
    line-height: 1;
    font-weight: 400;
    display: center;
  
    border-radius: 20px;
    font-size: 13px;
    
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 25px;
    transition: border 180ms ease-out 0s, background 180ms ease-out 0s;
    color: #fff;
    background-color: blue;
    border: none;
    cursor: pointer;
    min-height: 32px;
    min-width: 60px;
    margin-bottom: 10px;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  
  .edit {
    background: rgb(68, 179, 127);
  }
  
  .edit:hover {
    background-color: rgb(47, 124, 88);
  }