<html lang="en">
  <head>
    <meta name="theme-color" content="#36393f" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="icon" type="image/png" href="/logo.png" />
    <title>Bottodir • 404</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <meta name="title" content="Bottodir • Page not Found" />

    <meta property="og:image" content="<%=domain%>/logo.png" />
    <meta
      property="og:title"
      content="Bottodir • Utility for Discord"
    />
    <meta
      property="og:description"
      content="Utility Discord with ease"
    />
    <link rel="stylesheet" href="/css/404/404.css" />
  </head>
  <body>
    <div class="box">
      <span class="N">The requested Page was not found on our Server.</span>
      <button class="button edit" onclick="window.location.href = '/'">Go to Homepage</button>
    </div>
  </body>
</html>